<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!-- Konfiguration fuer die Oracle Datenbank
    <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
    <property name="hibernate.connection.url">jdbc:oracle:thin:@10.50.10.12:1521:DBPRAKT</property>
    <property name="hibernate.connection.username">USERNAME</property>
    <property name="hibernate.connection.password">PASSWORD</property>
    <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>-->
    <property name="hibernate.connection.driver_class">org.h2.Driver</property>
    <property name="hibernate.connection.url">jdbc:h2:mem:db1</property>
    <property name="hibernate.connection.username">sa</property>
    <property name="hibernate.connection.password"></property>
    <property name="hibernate.dialect">org.hibernate.dialect.H2Dialect</property>
    
    <!-- JDBC connection pool (use the built-in) -->
    <property name="connection.pool_size">1</property>
    <!-- Enable Hibernate's automatic session context management -->
    <property name="current_session_context_class">thread</property>
    <!-- Disable the second-level cache  -->
    <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
    <!-- Echo all executed SQL to stdout -->
    <property name="show_sql">true</property>
    <!-- Automatically validates or exports schema DDL to the database when the SessionFactory is created.
       - validate: validate the schema, makes no changes to the database.
       - update: update the schema.
       - create: creates the schema, destroying previous data.
       - create-drop: drop the schema at the end of the session. 
       -->
    <property name="hbm2ddl.auto">update</property>
    <!-- Mapping files -->
    <mapping class="org.dbprakt.hibernate.annotations.Promoter"/>
    <mapping class="org.dbprakt.hibernate.annotations.Event"/>
    <mapping class="org.dbprakt.hibernate.annotations.Person"/>
  </session-factory>
</hibernate-configuration>
